<body>
  <div id="landing-page">
    <div class="landing-text">
      <div class="normal-text">La Nouvelle</div>
      <div class="highlight-word lightning-text">
        <span class="letter">E</span>
        <span class="letter">c</span>
        <span class="letter">o</span>
        <span class="letter">l</span>
        <span class="letter">a</span>
        <span class="letter">Z</span>
        <span class="letter">i</span>
        <span class="letter">k</span>
      </div>
      <div class="normal-text">arrive !</div>
    </div>
  </div>
</body>

<script>
    setTimeout(() => {
      window.location.href = "/home";
    }, 4000);
  </script>
