<%= render "shared/back_to_home" %>

<section class="jobs-hero">
  <div class="container">
    <h1>Rejoindre l’équipe EcolaZik</h1>
    <p>
      Tu es musicien·ne passionné·e, pédagogue et tu aimes transmettre ?
      <br>
      EcolaZik recrute régulièrement de nouveaux professeurs.
    </p>
  </div>
</section>

<section class="jobs-content">
  <div class="container">
    <h2>Profils recherchés en priorité</h2>
    <p>
      (Les autres candidatures seront également étudiées)
    </p>

    <div class="jobs-grid">
      <div class="job-card">
        <h3>Professeur·e de piano</h3>
      </div>

       <div class="job-card">
        <h3>Professeur·e d'accordéon </h3>
      </div>

      <div class="job-card">
        <h3>Professeur·e de clarinette</h3>
      </div>

      <div class="job-card">
        <h3>Professeur·e de violon</h3>
      </div>
    </div>
  </div>
</section>

<section class="jobs-cta">
  <div class="container">
    <h2>Envie de nous rejoindre ?</h2>
    <p>
      Envoie-nous ta candidature (CV + quelques lignes de motivation)
    </p>

    <a href="mailto:ecolazik@gmail.com" class="btn-primary">
      ✉️ Postuler chez Ecolazik
    </a>
  </div>
</section>
